
@Html.Partial("PageSettings")

@{
    BandPage.Models.BandPageContext context = new BandPage.Models.BandPageContext();
    var store = context.StoreItems.ToList();
    var pageSettings = context.PageSettings.SingleOrDefault();
    string showsOnMenu = pageSettings.ShowTourOnMenu;
    string imageGalleryOnMenu = pageSettings.ImageGalleryName;
    var menu = context.MenuItems.OrderBy(a => a.Order).ToList();
}


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        
        @foreach (var item in menu)
        {
            <li><a href="/@item.Page.Slug">@item.Title</a></li>
        }

        @if (store.Count > 0)
        {
            <li><a href="/store">Store</a></li>
        }
        @if (!String.IsNullOrEmpty(imageGalleryOnMenu))
        {
            <li><a href="/gallery">@imageGalleryOnMenu</a></li>
        }
        @if (!String.IsNullOrEmpty(showsOnMenu))
        {
            <li><a href="/tour">@showsOnMenu</a></li>
        }
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<div id="body">
    @RenderBody()

    <div class="clear"></div>
</div>

<footer></footer>

<div id="footer-image"></div>

</body>
</html>
