@model IEnumerable<BandPage.Models.MenuItem>

@{
    ViewBag.Title = "Menu";

    int i = 1;
}

<h1>Menu</h1>

<p>
    @Html.ActionLink("Add menu item", "Create")
</p>

@using (Html.BeginForm("UpdateMenu", "Menu", FormMethod.Post))
{
    <table>
    <tr>
        <th>Order</th>
        <th>Menu text</th>
        <th>Link to page</th>
        <th></th>
    </tr>

    
    @foreach (var item in Model.OrderBy(a => a.Order))
    {
        <tr>
            <td>
                <input type="hidden" name="Id@(i)" id="Id@(i)" value="@item.MenuItemId" />
                <input type="text" name="Order@(i)" id="Order@(i)" value="@item.Order" class="textboxNumber" />
            </td>
            <td>
                <input type="text" name="Title@(i)" id="Title@(i)" value="@item.Title" class="textboxSmall" />
            </td>
            <td>
    
                @Html.DropDownList("PageId" + i, ((IEnumerable<BandPage.Models.Page>)ViewBag.PossiblePages).Select(option => new SelectListItem
                {
                    Text = (option == null ? "None" : option.Title),
                    Value = option.PageId.ToString(),
                    Selected = (Model != null) && (option.PageId == item.PageId)
                }))
            </td>
            <td>
                <a href="/Admin/Menu/Delete/?id=@item.MenuItemId"><img src="~/Images/icon-delete.gif" alt="Delete" title="Delete" /></a>
            </td>
        </tr>
        
    
        i++;
        
    }

    </table>
    
    <input type="hidden" name="Count" value="@(i - 1)" />
    <div class="form-row">
        <input type="submit" value="Update menu" />
    </div>
}
