@model BandPage.Models.SocialMedia

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-row">
    @Html.LabelFor(model => model.Facebook)
    @Html.EditorFor(model => model.Facebook)
    @Html.ValidationMessageFor(model => model.Facebook)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Myspace)
    @Html.EditorFor(model => model.Myspace)
    @Html.ValidationMessageFor(model => model.Myspace)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Soundcloud)
    @Html.EditorFor(model => model.Soundcloud)
    @Html.ValidationMessageFor(model => model.Soundcloud)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Twitter)
    @Html.EditorFor(model => model.Twitter)
    @Html.ValidationMessageFor(model => model.Twitter)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Instagram)
    @Html.EditorFor(model => model.Instagram)
    @Html.ValidationMessageFor(model => model.Instagram)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.GooglePlus)
    @Html.EditorFor(model => model.GooglePlus)
    @Html.ValidationMessageFor(model => model.GooglePlus)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Youtube)
    @Html.EditorFor(model => model.Youtube)
    @Html.ValidationMessageFor(model => model.Youtube)
</div>

<div class="form-row">
    @Html.LabelFor(model => model.Spotify)
    @Html.EditorFor(model => model.Spotify)
    @Html.ValidationMessageFor(model => model.Spotify)
</div>

