@model BandPage.Models.Blog

@{
    ViewBag.Title = "Blog > Edit post";
}

<h1>Blog › Edit post</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.BlogId)
    @Html.HiddenFor(model => model.Date)
	@Html.Partial("_CreateOrEdit", Model)

    <div class="form-row">
        <input type="submit" value="Save changes" />
    </div>
    
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>
